<!DOCTYPE html>
<html>
    <head>
        <title>About me</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <h3 class="aboutme">About me</h3>
        <div class="mainabout">
            <h5 class="codeby">code by x1nder</h5>
            <a href="https://github.com/x1nder">GitHub</a>
            <p>Да</p>
        </div>
    </body>
    <div class="us">
        <a href="index.html">My thought</a>
        <a href="otherthought.html">Other thought</a>
    </div>
</html>
