<DOCTYPE html>
<html>
    <head>
        <title>зщйштащй</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <h3 class="maintitle">Share your thought</h3>
        <div class="main">
            <form method="post" action="/save">
                <input type="text" name="data">
                <button type="submit">Save</button>
            </form>
        </div>
    </body>
    <div class="us">
        <a href="aboutus.html">About me</a>
        <a href="otherthought.html">Other thought</a>
    </div>
</html>