<!DOCTYPE html>
<html>
    <head>
        <title>зщйштащй</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <h3 class="maintitle">Share your thought</h3>
        <div class="main">
            <form method="post" action="/save">
                <input type="text" name="data">
                <a href="/" type="submit" class="save">Save</a>
            </form>
        </div>
        <div class="us">
            <a href="aboutus.html" class="Aboutme">About me</a>
            <a href="otherthought.html" class="Otherthought">Other thought</a>
            <a href="auth.html" class="Auth">Auth</a>
        </div>
    </body>
</html>
